.forget{
    width: 100%;
    height: 100vh;
    max-width: 600px;
   
    /* border-radius: 4px;
    border: 2px solid #04AA6D;;
    background-color:  #f2f2f2; */
    padding: 10px;
    position: fixed;
    left: 450px;
   
}

.forget .con{
   
   height: 80vh;
    border-radius: 8px;
    border: 2px solid #04AA6D;;
    background-color:  #f2f2f2;
    margin: 50px;
}

.forget form{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

form p {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
   
}

form button{
   background-color: #04AA6D;
     border-radius: 4px;
    margin-bottom: 20px;
}


form input{
    border: 1px solid black;
     border-radius: 4px;
}

