.home{

    display: flex;
    gap: 0px;               /* left-right spacing (wateta hidasak) */
    height: 100vh;
    width: 100%;
               /* outer spacing from window edge */
   
    align-items: center;     /* vertical centering */
    justify-content: center;
    background: #f8f7fb;
    
    
}



.home .left{
    width: 100%;
     height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: left;
   
    
  
   
     
}

.home .right{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 50%;
    justify-content: center;
    background-color: darkkhaki;
    
    
     
}

.home .left h1{
    padding: 40px;
    color: aliceblue;
    font-weight: bold;
}

.home .right  #x{
    
    font-weight: bold;
    font-size: 30px;
}



.home .right p{
    padding: 40px;
    font-weight: bold;
    
}


input::placeholder
{
    font-weight: bold;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
}

form input:focus
{
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 40px;
}

form input{
    height: 40px;
    width: 80%;
    border: none;
    border-bottom: 1px solid black;
    color: black;
}
form input{
    margin-top: 30px;
    color: gray;
}

form button{
    margin-top: 40px;
   width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: beige;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(246,215,123,0.18);
    
    
}


 
form span{
    
    text-align: center;
    align-content: center;
}

.home .right .b a{
    text-decoration: none;
}