.navbar{
    display: flex;
    flex-direction: column;
     width:100%;
    height: 100px;
    background-color: burlywood;
   
 
}
.navbar .right{
    
    flex: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar .left{
     flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.navbar a{
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
}